html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
     background: #eacec7;
background: linear-gradient(to right, #eef2f3, #eacec7);
background: linear-gradient(to right, #eef2f3, #eacec7);
  font-family: 'Times new roam', monospace;
  margin: 0;
}
.details a {
    color: #867d79;
    font-family: 'Times new roam', sans-serif;
}
.links a {
    color:  #797979;
    font-family: 'Times new roam', cursive;

}
h1, h2 {
  font-family: 'Times new roam', cursive;
  font-weight: 400;
}
h1 {
  font-size: 80px;
}
h2 {
  font-size: 30px;
  margin-top: 0;
}
.main {
  max-width: 950px;
  margin: 0 auto;
  padding: 50px;
  overflow: hidden;
}

.left {
  width: 35%;
  float: left;
  padding-right: 3%;
  min-height: 175px;
}
.right {
  width: 62%;
  float: left;
  min-height: 175px;
}
.links{
  text-align:center;
  }


header 
{
     background: #eacec7;
background: linear-gradient(to right, #eef2f3, #eacec7);
background: linear-gradient(to right, #eef2f3, #eacec7);
  color: #867d79;
}
footer {
    background: #eacec7;
    color: #867d79;
}
header h1{
    color: #684447;
    margin: 0;
    font-size: 49px;
    line-height: 60px;
}
header h2 {
    color: #684447;
    margin: 0;
    font-size: 20px;
    line-height: 10px;
}


header {
  
}
.profile-img {
  border-radius: 50%;
}

footer {
  text-align: center;
}
.contact-info a {
  padding: 1x;
  display: inline-block;
}

.img {
width: 200px;
float: right;
margin-right: 30px;
}


.nav{
    background: #eacec7d9;
}
